:host(:not([data-theme="dark"])),
:root:not([data-theme="dark"]),
[data-theme="light"] {
  --pico-background-color: #fff;
  --pico-color: #373c44;
  --pico-text-selection-color: rgba(247, 147, 26, 0.25);
  --pico-muted-color: #646b79;
  --pico-muted-border-color: rgb(231, 234, 239.5);
  --pico-primary: #f7931a;
  --pico-primary-background: var(--pico-primary);
  --pico-primary-border: var(--pico-primary-background);
  --pico-primary-underline: rgba(247, 147, 26, 0.5);
  --pico-primary-hover: #fcd6a8;
  --pico-primary-hover-background: rgb(248.68, 169.68, 74.09);
  --pico-primary-hover-border: var(--pico-primary-hover-background);
  --pico-primary-hover-underline: var(--pico-primary-hover);
  --pico-primary-focus: #fcd6a8;
}

body {
  margin: 0;
  padding-bottom: 4rem; /* Reserve space for ribbon */
}

hr {
  border-top: 1px solid var(--pico-primary-focus);
}

header {
  border-bottom: 1px solid var(--pico-primary-background);

  nav {
    padding: 0.5em;

    ul li {
      padding: 0 0.5em;

      h3 {
        display: flex;
        align-items: center;
        margin: 0;

        span {
          color: var(--pico-primary);
          margin-right: 0.25em;
        }
      }
    }
  }
}

main {
  padding: 2rem 1rem 5rem;

  hgroup {
    margin-bottom: 2rem;

    .heading-icon {
      text-align: center;
      margin-bottom: 1rem;

      span.material-symbols-outlined {
        color: var(--pico-background-color);
        font-size: calc(3 * var(--pico-font-size));
        border-radius: 50%;
        padding: 1rem;
        background-color: var(--pico-primary);
      }
    }

    p {
      text-align: center;
    }
  }
}

article {
  h4 {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;

    span.material-symbols-outlined {
      color: var(--pico-primary-focus);
    }
  }
}

.alert {
  font-size: var(--pico-font-size);
  margin-bottom: var(--spacing);
  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal);
  border-radius: var(--pico-border-radius);
  background-position: center left var(--pico-form-element-spacing-vertical);
  background-size: calc(var(--pico-form-element-spacing-vertical) * 1.5) auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#device-ribbon {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--pico-background-color);
  z-index: 1000;
  height: auto;
  background: var(--pico-primary);

  button {
    all: unset;
    font: inherit;
    color: var(--pico-color, #333);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
    color: var(--pico-color);
    background-color: var(--pico-primary-background);
    &.active {
      color: var(--pico-primary-background);
      background-color: var(--pico-primary-focus);
    }
  }

  .ribbon-home {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:has(button.active) {
      background-color: var(--pico-primary-focus);
    }
    button {
      height: 100%;
    }
  }

  .ribbon-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-auto-rows: 1fr;
    flex: 1;
  }
}

section {
  &.sensor {
    display: flex;
    justify-content: center;

    .grid {
      max-width: 800px;
      align-items: baseline;
    }
  }
}

.datalist {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 1.25rem + 4px);
  margin-top: -1rem;
  margin-inline: auto;
}

.sensor-reading {
  font-variant-numeric: tabular-nums;
  text-align: center;
  color: var(--pico-primary);
}

.sensor-reading-value {
  font-size: calc(var(--pico-font-size) * 5);
  color: var(--pico-primary-background);
}

.sensor-reading-units {
  font-size: calc(var(--pico-font-size) * 3);
  color: var(--pico-primary-focus);
}

.chart {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 100px;
}

.bar {
  width: 20px;
  background: var(--pico-primary-focus);
}

/* Height utility classes (percentages of the container) */
.h-10 {
  height: 10%;
}
.h-20 {
  height: 20%;
}
.h-30 {
  height: 30%;
}
.h-40 {
  height: 40%;
}
.h-50 {
  height: 50%;
}
.h-60 {
  height: 60%;
}
.h-70 {
  height: 70%;
}
.h-80 {
  height: 80%;
}
.h-90 {
  height: 90%;
}
.h-100 {
  height: 100%;
}
